---
# Only the main Sass file needs front matter (the dashes are enough)
---

// This is the main Sass file for the MillerApps website.
// It contains variables, mixins, and imports for the site's styles.
// The file also includes CSS rules for centering elements and displaying images.

@charset "utf-8";
//Colors 
$blaze-orange-50: #fff8ec;
$blaze-orange-100: #fff0d3;
$blaze-orange-200: #ffdea5;
$blaze-orange-300: #ffc56d;
$blaze-orange-400: #ffa032;
$blaze-orange-500: #ff830a;
$blaze-orange-600: #ff6a00;
$blaze-orange-700: #cc4c02;
$blaze-orange-800: #a13b0b;
$text-color:       #111;
$background-color: $blaze-orange-50;
$brand-color:      $blaze-orange-200;
$read-time:        #fb748b;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$medium-font-size: $base-font-size * 1.111;
$base-line-height: 1.5;

$spacing-unit:     30px;
// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "nav",
        "work",
        "code"
;

// CSS rules for centering an unordered list
#center ul {
	margin-left: auto;
    margin-right: auto;
	padding: 0;
	list-style: none;
}

// CSS rules for floating list items
.apps li{
	float: left;
}

// CSS rules for an image holder
.image-holder img {
	height: 300px;
	width: 300px;
	float: right;
	display: block;
	padding: 10px;
}

// CSS rules for centering an image
.center-image {
    margin: 0 auto;
    display: block;
}
