---
layout: page
title: Archive
permalink: /archive/
navigation_weight: 3
---

<!--
	This HTML file is used for displaying an archive of posts on a website.
	It includes a layout, title, permalink, and navigation weight.
	The file uses Liquid templating language to loop through the posts and display them in a list.
	Each post is displayed with its date and title, and linked to its corresponding URL.
-->
<ul class="archive-list">
	{% assign posts = site.posts | where: "archived", true %}
	{% for post in posts %}
	  {% unless post.next %}
		<h3>{{ post.date | date: '%Y %B' }}</h3>
	  {% else %}
		{% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
		{% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
		{% if year != nyear %}
		  <h3>{{ post.date | date: '%Y %b' }}</h3>
		{% endif %}
	  {% endunless %}
  
	  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endfor %}
  </ul>
  
