
<!--
This HTML file is the index page for a blog. It includes a list of posts with their metadata, such as author, date, and read time. Each post is displayed with a title, a brief content preview, and a "Read more" link. The page also includes an RSS subscription link.
-->
---
layout: default
title: Blog
navigation_weight: 1
---


<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% assign archived_posts = site.posts | where: "archived", false %}
    {% for post in archived_posts %}
      <li>

        <div class="post-meta">
	        <b class="post-author>">{{ post.author }},</b>


	        <b class="post-date>">{{ post.date | date: "%b %-d, %Y" }} </b>
          {% include read_time.html %}

	    </div>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
		{{ post.content | strip_html | truncatewords:60 }}
		</p>
		<p>
			<a class="btn" href="{{ BASE_PATH }}{{ post.url }}">Read more...</a>
		</p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
