<header class="site-header">

  <div class="wrapper">

    <a href="{{ site.baseurl }}/"><img src="/assets/miller apps.png" alt="Logo"></a>

    <nav>
      <!-- Orignial code for menu by Victor Belozyorov on CodePen https://codepen.io/WispProxy/pen/GqzoYg. -->
      <div class="menu">
        <input id="menu--toggle" type="checkbox" />
        <!-- /#menu--toggle -->
        <label class="menu--toggle__trigger" for="menu--toggle"></label>
        <!-- /.menu--toggle__trigger -->
        <label class="menu--toggle__burger" for="menu--toggle"></label>
        <!-- /.menu--toggle__burger -->


        <ul class="menu__body">


          {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %} {% for p in navigation_pages %} {% unless page.exclude %} {% if p.navigation_weight %}

          <li class="menu_body-element">


            <a href="{{ p.url }}" class="menu__body-element">


                        {{ p.title }}
                      </li></a> {% endif %} {% endunless %} {% endfor %}


        </ul>

      </div>
    </nav>
  </div>

</header>
