/**
 * Site footer
 */
.site-footer {
    border-top: 5px solid #FF8B43;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: calc($spacing-unit / 2);
    text-align: center;
    padding-bottom: 20px;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.me-img {
	width: 150px;
    height: 150px;
	border-radius: 100%;
	border: 5px solid #FD5000;
	display: block;
	margin: 0 auto 45px;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    text-align: left;
}

.footer-col-wrapper {
    font-size: 15px;
    text-align: center;
    color: $grey-color;
    margin-left: calc(-1 * $spacing-unit / 2);
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
}

.footer-col-1 {
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width:         calc(45% - (#{$spacing-unit} / 2));
}


@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.reading-time {
  font-size: $medium-font-size;
  color: #fb748b;
}

.post-link {
    display: block;
    font-size: 24px;
}

.miller-apps-image {
	height: 250px;
	width: 250px;
	 margin: 0 auto;
    display: block;
}

.image-work {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 30px 10px 0;

}




/**
 * Posts
 */

.feat-img {
	margin: 0 auto;
	margin-bottom: 10px;
  display: block;
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

}

// BlockQuotes
blockquote {
    margin-left: 35px;
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: calc($spacing-unit / 2);
    padding-left: 15px; // fallback value
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

.blockquote-info {
    padding: 5px;
    background-color: rgba(63, 154, 239, 0.317);  
    border-radius: 10px;
    outline: 1px solid white; 
}


// Oredered List
.o-list {

  list-style-type: none;
  display: inline-block;
  padding-left: 30%;

  @include media-query($on-laptop) {
      padding-left: 0;
  }

}

.o-list li {
  counter-increment: step-counter;
  margin-bottom: 10px;

}

.o-list li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #2cb3c7;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}
