$font-family: 'Open Sans', sans-serif;
$font-size: 1em;
$color-text: #FF8B43;
$color-menu: #f0f0f0; // Light color for a paper-like appearance
$tab-color: #e0e0e0; // Color for the tab background
$hover-background: #cccccc; // Lighter color for hover
$transition-duration: 0.3s;
$header-height: 56px; // Height of the header

.site-header {
  border-top: 5px solid #FD5000;
  border-bottom: 3px solid #FD5000;
  min-height: $header-height;
  background-color: #FF8B43;
  position: relative;

  .wrapper {
    nav {
      .menu {
        #menu--toggle {
          position: absolute;
          left: -9999px;
        }

        ul.menu__body {
          list-style-type: none;
          padding: 0;
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: -$header-height;
          left: 0;
          width: 100%;

          li.menu_body-element {
            a.menu__body-element {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px 15px;
              background-color: $tab-color;
              color: $color-text;
              text-decoration: none;
              border-bottom: 3.5px solid #FF8B43;
              border-right: 3px solid #FD5000;
              border-left: 2px solid gray;
              border-radius: 0 0 10px 10px; // Rounded bottom corners for tab effect
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              transition: all $transition-duration;
              margin-bottom: 10px; // Slight overlap to mimic physical tabs

              &:hover {
                background-color: $hover-background;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
              }
            }

            &:not(:last-child) {
              margin-right: -2.652px; // Adjust spacing between tabs
            }
          }
        }
      }
    }

    .navbar-brand img {
      height: 5rem;
      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
      @media (max-width: 576px) {
        height: 4rem;
      }
    }

    img {
      float: left;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 300px;
      height: 230px;
    }
  }
}
