/**
 * This file contains the styling for the navigation bar.
 * It defines variables for font family, font size, header colors, tab colors, hover effects, and transition duration.
 * The .site-header class represents the header container and sets its border, background color, and position.
 * The .wrapper class contains the navigation menu and logo.
 * The navigation menu is styled with a list of menu items, each with a tab-like appearance.
 * The .navbar-brand class styles the logo image.
 * The img class styles other images within the .wrapper class.
 */
$font-family: "Open Sans", sans-serif;
$font-size: 1em;
$header-color: $blaze-orange-500;
$header-scoendary-color: $blaze-orange-700;
$color-text: #fff;
$tab-gradient: linear-gradient(to bottom, $header-color, $header-scoendary-color);
$tab-hover: linear-gradient(to bottom, $header-scoendary-color, $header-color);
$tab-color: $header-scoendary-color; // Color for the tab background
$hover-background: $blaze-orange-600; // Lighter color for hover
$transition-duration: 0.3s;
$header-height: 56px; // Height of the header

.site-header {
  border-top: 5px solid $header-scoendary-color;
  border-bottom: 3px solid $header-scoendary-color;
  min-height: $header-height;
  background-color: $header-color;
  position: relative;

  .wrapper {
    nav {
      .menu {
        #menu--toggle {
          position: absolute;
          left: -9999px;
        }

        ul.menu__body {
          list-style-type: none;
          padding: 0;
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: -$header-height;
          left: 0;
          width: 100%;

          li.menu_body-element {
            a.menu__body-element {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px 15px;
              background: $tab-gradient;
              color: $color-text;
              text-decoration: solid;
              font-weight: bold;
              border-bottom: 3px solid gray;
              border-right: 3px solid $header-scoendary-color;
              border-left: 2px solid $header-color;
              border-radius: 0 0 10px 10px; // Rounded bottom corners for tab effect
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              transition: all $transition-duration;
              margin-bottom: 10px; // Slight overlap to mimic physical tabs

              &:hover {
                background-color: $hover-background;
                background: $tab-hover;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
              }
            }

            &:not(:last-child) {
              margin-right: -2.652px; // Adjust spacing between tabs
            }
          }
        }
      }
    }

    .navbar-brand img {
      height: 5rem;
      &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
      @media (max-width: 576px) {
        height: 4rem;
      }
    }

    img {
      float: left;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 300px;
      height: 230px;
    }
  }
}
