{{ if or .NextInSection .PrevInSection }}
<div class="pagination">
  <div class="pagination__title">
    <span class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts }}</span>
    <hr />
  </div>
  <div class="pagination__buttons">
    {{ $user := (default "user" $.Site.Params.owner) | lower }}
    {{ $host := "rabbit-hole" }}
    {{ $path := "~/post" }}
    {{ $metaPrefix := printf "%s@%s:%s" $user $host $path }}
    {{ if .NextInSection }}
      {{ $prevFile := printf "%s.md" (urlize .NextInSection.Title) }}
      <a href="{{ .NextInSection.Permalink }}" class="pagination__command prev">
        <span class="post-command__verb">cat</span>
        <span class="post-command__file">{{ $prevFile }}</span>
        <span class="post-command__caret">▊</span>
        <span class="post-command__meta">{{ $metaPrefix }}</span>
      </a>
    {{ end }}
    {{ if and .NextInSection .PrevInSection }}
      ::
    {{ end }}
    {{ if .PrevInSection }}
      {{ $nextFile := printf "%s.md" (urlize .PrevInSection.Title) }}
      <a href="{{ .PrevInSection.Permalink }}" class="pagination__command next">
        <span class="post-command__verb">cat</span>
        <span class="post-command__file">{{ $nextFile }}</span>
        <span class="post-command__caret">▊</span>
        <span class="post-command__meta">{{ $metaPrefix }}</span>
      </a>
    {{ end }}
  </div>
</div>
{{ end }}
