
<!-- 
  This is the default layout file for the MillerApps.github.io website.
  It includes various HTML components such as the head, header, page content, footer, and scripts.
  The content placeholder is used to dynamically insert the page content.
  The comments component is also included for displaying comments.
-->
<!DOCTYPE html>
<html>

{% include head.html %}

<body class="site">

  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }} {% include comments.html %}
    </div>
  </div>

  {% include footer.html %}
  {% include scripts.html %}

</body>

</html>
