---
layout: default
---
<!--
This HTML file is used as the layout for a blog post on the Miller Apps website.
It includes a header with the post title, date, author, and read time.
If an image is specified, it is displayed at the top of the post.
The main content of the post is displayed within an article element.
-->
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }} {% include read_time.html %}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  {% if page.image %}
  <img class="feat-img" src="/assets/{{ page.image }}" alt="Miller Apps logo">
  {% endif %}

  <article class="post-content">
    {{ content }}
  </article>

</div>
