/**
 * This file contains the base styles for the website. It includes a reset for basic elements,
 * defines basic styling for the body, sets margins to maintain vertical rhythm, styles images and figures,
 * formats lists, headings, links, and code blocks, and provides a wrapper and clearfix utility class.
 * It also includes a media query for dark mode styles.
 */
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fff8ec;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px;
  margin-bottom: 15px;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: #ff8b43;
}

/**
 * Links
 */
a {
  color: #ffdea5;
  text-decoration: none;
}
a:visited {
  color: #ffc259;
}
a:hover {
  color: #111;
  text-decoration: underline;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(1000px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: calc(1000px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.footer-col-wrapper:after, .wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.icon > svg path {
  fill: #828282;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
  }
  p {
    color: #ffffff;
  }
}
/**
 * Site footer styles
 */
.site-footer {
  border-top: 5px solid #ffa032;
  padding: 30px 0;
}

/**
 * Footer heading styles
 */
.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  padding-bottom: 20px;
}

/**
 * Site container styles
 */
.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/**
 * Page content styles
 */
.page-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/**
 * Image styles for personal photo
 */
.me-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 5px solid #ff830a;
  display: block;
  margin: 0 auto 45px;
}

/**
 * List styles for contact information and social media links
 */
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  text-align: left;
}

/**
 * Footer column wrapper styles
 */
.footer-col-wrapper {
  font-size: 15px;
  text-align: center;
  color: #828282;
  margin-left: -15px;
}

/**
 * Footer column styles
 */
.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

/**
 * Footer column 1 styles
 */
.footer-col-1 {
  width: calc(35% - (30px / 2));
}

/**
 * Footer column 2 styles
 */
.footer-col-2 {
  width: calc(20% - (30px / 2));
}

/**
 * Footer column 3 styles
 */
.footer-col-3 {
  width: calc(45% - (30px / 2));
}

/**
 * Media query styles for laptop screens
 */
@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (30px / 2));
  }
  .footer-col-3 {
    width: calc(100% - (30px / 2));
  }
}
/**
 * Media query styles for palm-sized screens
 */
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: calc(100% - (30px / 2));
  }
}
/**
 * Page content styles
 */
.page-content {
  padding: 30px 0;
}

/**
 * Page heading styles
 */
.page-heading {
  font-size: 20px;
}

/**
 * List styles for blog post list
 */
.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

/**
 * Styles for post meta information
 */
.post-meta {
  font-size: 14px;
  color: #828282;
}

/**
 * Styles for reading time information
 */
.reading-time {
  font-size: 17.776px;
  color: #fb748b;
}

/**
 * Styles for post links
 */
.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Styles for Miller Apps image
 */
.miller-apps-image {
  height: 250px;
  width: 250px;
  margin: 0 auto;
  display: block;
}

/**
 * Styles for work images
 */
.image-work {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 30px 10px 0;
}

/**
 * Styles for featured images in blog posts
 */
.feat-img {
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}

/**
 * Styles for post header
 */
.post-header {
  margin-bottom: 30px;
}

/**
 * Styles for post title
 */
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

/**
 * Styles for post content
 */
.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

/**
 * Styles for blockquotes
 */
blockquote {
  margin-left: 35px;
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Styles for blockquote info
 */
.blockquote-info {
  padding: 5px;
  background-color: rgba(63, 154, 239, 0.317);
  border-radius: 10px;
  outline: 1px solid white;
}

/**
 * Styles for ordered list
 */
.o-list {
  list-style-type: none;
  display: inline-block;
  padding-left: 30%;
}
@media screen and (max-width: 800px) {
  .o-list {
    padding-left: 0;
  }
}

/**
 * Styles for ordered list items
 */
.o-list li {
  counter-increment: step-counter;
  margin-bottom: 10px;
}

/**
 * Styles for ordered list item counter
 */
.o-list li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: #2cb3c7;
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}

/**
 * Styles for unordered list(archive list)
 */
.archive-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/**
 * Syntax highlighting styles
 *
 * This file contains styles for syntax highlighting. It defines various classes
 * for different types of syntax elements such as comments, keywords, literals,
 * and names. Each class has specific color and font styles applied to it.
 */
/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fdf6e3;
  color: #657b83;
}
.highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #93a1a1;
  font-style: italic;
}
.highlight .err {
  color: #dc322f;
}
.highlight .k, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kc {
  color: #268bd2;
  font-weight: bold;
}
.highlight .nc, .highlight .nf {
  color: #6c71c4;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #d33682;
}

@media (prefers-color-scheme: dark) {
  .highlight {
    background: #282a36;
    color: #f8f8f2;
  }
  .highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
    color: #6272a4;
    font-style: italic;
  }
  .highlight .err {
    color: #ff5555;
  }
  .highlight .k, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .kc {
    color: #ff79c6;
  }
  .highlight .nc, .highlight .nf {
    color: #bd93f9;
  }
  .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
    color: #ffb86c;
  }
  .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
    color: #50fa7b;
  }
}
/**
 * This file contains the styling for the navigation bar.
 * It defines variables for font family, font size, header colors, tab colors, hover effects, and transition duration.
 * The .site-header class represents the header container and sets its border, background color, and position.
 * The .wrapper class contains the navigation menu and logo.
 * The navigation menu is styled with a list of menu items, each with a tab-like appearance.
 * The .navbar-brand class styles the logo image.
 * The img class styles other images within the .wrapper class.
 */
.site-header {
  border-top: 5px solid #cc4c02;
  border-bottom: 3px solid #cc4c02;
  min-height: 56px;
  background-color: #ff830a;
  position: relative;
}
.site-header .wrapper nav .menu #menu--toggle {
  position: absolute;
  left: -9999px;
}
.site-header .wrapper nav .menu ul.menu__body {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -56px;
  left: 0;
  width: 100%;
  margin-left: auto;
}
.site-header .wrapper nav .menu ul.menu__body li.menu_body-element a.menu__body-element {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: linear-gradient(to bottom, #ff830a, #cc4c02);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid gray;
  border-right: 3px solid #cc4c02;
  border-left: 2px solid #ff830a;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  margin-bottom: 10px;
}
.site-header .wrapper nav .menu ul.menu__body li.menu_body-element a.menu__body-element:hover {
  background-color: #ff6a00;
  background: linear-gradient(to bottom, #cc4c02, #ff830a);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.site-header .wrapper nav .menu ul.menu__body li.menu_body-element:not(:last-child) {
  margin-right: -2.652px;
}
.site-header .wrapper .navbar-brand img {
  height: 5rem;
}
.site-header .wrapper .navbar-brand img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
@media (max-width: 576px) {
  .site-header .wrapper .navbar-brand img {
    height: 4rem;
  }
}
.site-header .wrapper img {
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 300px;
  height: 230px;
}

/**
 * This file contains styles for the card component.
 */
.card {
  margin: 10px;
}

#center ul {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.apps li {
  float: left;
}

.image-holder img {
  height: 300px;
  width: 300px;
  float: right;
  display: block;
  padding: 10px;
}

.center-image {
  margin: 0 auto;
  display: block;
}

/*# sourceMappingURL=main.css.map */